# Week 1 C examples built by step1/week1/Makefile
/step1/week1/01_arrays_and_pointers
/step1/week1/02_structs_and_callbacks
/step1/week1/03_manual_resources
/step1/week1/04_macros_and_container_of
/step1/week1/05_dynamic_array
