# Week 1 C examples built by step1/week1/Makefile
/step1/week1/01_arrays_and_pointers
/step1/week1/02_structs_and_callbacks
/step1/week1/03_manual_resources
/step1/week1/04_macros_and_container_of
/step1/week1/05_dynamic_array

# Week 2 C examples built by step1/week2/Makefile
/step1/week2/01_memory_layout
/step1/week2/02_undefined_behavior

# Week 3 intermediate build products
/step1/week3/build/

# Week 4 pthread examples built by step1/week4/Makefile
/step1/week4/01_thread_lifecycle
/step1/week4/02_counter_race
/step1/week4/03_bounded_queue

# Week 5 process examples built by step1/week5/Makefile
/step1/week5/01_fork_identity
/step1/week5/02_exec_wait
/step1/week5/03_pipe_parent_child
/step1/week5/04_exec_pipeline
